<div class="wrapper">
    <div class="masthead">
        <span class="title">
            {{title}}
        </span>
        <br>

        {{#image}}
            <img class="post-image" src="/images/{{image}}">
        {{/image}}
        <br>
        {{#author}}
            <span class="byline">by {{author}}</span>
        {{/author}}
        <br>
        <span class="date">{{date}}</span>
            <br>
            {{>templates/tags.html}}
    </div>
</div>
<article class="post">
    {{{content}}}

    <br>
    <br>

    <!--Share buttons-->
<div class="social-buttons">
    <a href="https://twitter.com/share" class="twitter-share-button"
        data-url="$url$" data-text="Check out: $title$ - " data-via="chrislpenner">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <a href="https://twitter.com/chrislpenner" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @chrislpenner</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div class="fb-like" data-href="$url$" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
    <!-- Disqus Comments -->
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'chrispenner';
    var disqus_identifier = '$path$';
    var disqus_url = 'https://chrispenner.github.io$url$';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</article>

